.work_assign {
  margin-top: 1rem;
  padding: 0;
}
.work_assign .work_level_one {
  /* display: flex;
    flex-direction: row;
    justify-content:flex-start; */
  width: 52%;
  position: relative;
  left: 11rem;
}
.work_assign .work_level_one .work_level_three .work_level_two {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid rgb(197, 189, 189);
  width: 5.5rem;
  font-size: 12px;
  color: rgb(180, 171, 171);
  font-weight: normal;
  height: 50px;
  margin-right: 1rem;
  margin-top: 5px;
}
.work_assign .work_level_one .work_level_three {
  display: flex;
  flex-direction: row;
}
hr {
  width: 5rem;
  margin: 2px 4px 2px 4px;
}
.work_assign .work_level_one .work_level_two .para {
  margin: 3px 2px 3px 2px;
  padding: auto;
}
