.pop_up1{
display: flex;
justify-content: center;
}
.pop_up1 .pop_up2{
display: flex;
justify-content: center;
}


.pop_up1 .pop_up2 .work_level_three .work_level_two{
display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid rgb(197, 189, 189);
  width:5.5rem;
  font-size: 12px;
  color: rgb(180, 171, 171);
  font-weight: normal;
  height: 50px;
  margin-right:1rem;
  margin-top: 5px;
}
.pop_up1 .pop_up2 .work_level_three .work_level_two .para_one{
    margin-top: 12px;
    margin-bottom: 7px;
}

.pop_up1 .pop_up2 .work_level_three .work_level_two .para_two{
    margin-top: 5px;
    margin-bottom: 2px;
}

    